/* tags Gerais */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-image: url(../img/fundo-topo.jpg);
    text-align: center;
    padding: 10px 0;
}
header,h1{
    margin: 0;
    height: 84px;
}
nav{
    padding: 15px 0;
    text-align: center;
    margin-top: 10px;
}
nav,li{
    display: inline;
   background-image: url(../img/patinha-preta.png);
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 30px;
    margin-right: 10px;

}
nav,a{
    color: #000;
    text-decoration: none;
}
nav a:hover{
    color: #6dd432;
}
#itemContatos{
    background-image: none;
    padding-right: 0;
    margin-right: 0;
}